---
import NavBar from '../components/NavBar.astro';
import '../styles/global.css';

import HeaderDisplayAd from '../components/ads/HeaderDisplayAd.astro';
import FooterMultiplexAd from '../components/ads/FooterMultiplexAd.astro';
import SiteFooter from '../components/SiteFooter.astro';

interface Props {
  pageTitle?: string;
  pageDescription?: string;
}

const {
  pageTitle = 'Cartas Rápidas – Reclamaciones y Bajas (ES)',
  pageDescription = 'Genera cartas legales claras y listas para enviar.',
} = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <NavBar />
    <HeaderDisplayAd />

    <main>
      <slot />
    </main>

    <FooterMultiplexAd />
    <SiteFooter />
  </body>
</html>
